<!DOCTYPE html>
<html lang="sl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/2.0.2/umd/popper.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css}"/>
    <title th:text="${login_title}"></title>
</head>
<body>
<div class="container-fluid" autofocus>
    <div class="row col-12 justify-content-center" id="login-container">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="m-2 py-5">
                    <form th:action="@{/auth/seller/login}">
                        <div class="form-group">
                            <label for="login-email">E-mail</label>
                            <input class="form-control" type="email" id="login-email" required/>
                        </div>
                        <div class="form-group">
                            <label for="login-password" th:text="${login_password}"></label>
                            <input class="form-control" type="password" id="login-password" required/>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary btn-dark" id="login-button" type="submit"
                                    th:text="${log_in}">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="text-info">
                    <a id="reset-password" href="javascript:">
                        <i class="material-icons">help</i>
                        <span th:text="${login_forgot_password}"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/commons :: footer"></footer>
</body>
</html>